.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    
}

.header2 {
    position: absolute;
    width: 912px;
    height: 160px;
    left: 90px;
    top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #000000;
  

}

.checkbox1 {
    position: absolute;
    width: 669.46px;
    height: 74px;
    left: 152px;
    top: 239px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    color: #000000;

}

.checkbox2 {
    position: absolute;
    width: 669.46px;
    height: 74px;
    left: 509px;
    top: 239px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    color: #000000;

}

#input1 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: -60px;
    top: 0px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#input2 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: -60px;
    top: 0px;

    border: 1px solid #000000;
    border-radius: 5px;
}

.data-container {
    position: absolute;
   
    width: 88%;
    height:1000px;
    left: 90px;
    top: 342px;
    border: 2px solid #000000;

}
p{
 
margin-left: 54px;
margin-top: 56px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;

color: #000000;

}
span{
    margin-left: 300px;
}